@page
@model IVEBA_Web_App.Pages.ArchivoME13.ArchivoME13Model
@{
    ViewData["Title"] = "ArchivoME13";
}

<div class="container mt-7">
    <div class="card p-5 shadow mx-auto" style="max-width: 100%; width: 100%; max-width: 600px;">
        <h4 class="text-center mb-4">IVE Moneda Extranjera</h4>

        <!-- Mostrar errores si hay problemas al cargar información -->
        <div class="text-danger">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>

        <br>
        <form id="generarForm" method="post">
            <input type="hidden" id="codigoArchivo" value="@Model.FormModel.codigoArchivo" />
            <div class="row">
                <!-- Campo Mes -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Mes">Mes:</label>
                        <select class="form-control" asp-for="FormModel.mes" asp-items="Model.Meses" id="mesSelect" onchange="actualizarNombreArchivo()">
                        </select>
                    </div>
                </div>
                <!-- Campo Año -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Año">Año:</label>
                        <select class="form-control" asp-for="FormModel.año" asp-items="Model.Años" id="añoSelect" onchange="actualizarNombreArchivo()">
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group mt-3">
                <label for="Nombre">Archivo:</label>
                <input type="text" class="form-control" asp-for="FormModel.nombreArchivo" id="nombreArchivo" readonly />
            </div>

            <br>

            <!-- Registros procesados -->

            <div class="row border p-3 mb-3" style="border-color: #ccc; border-radius: 5px;">
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="form-group">
                        <label>Registros Procesados:</label>
                        <input type="text" class="form-control" id="registrosProcesados" asp-for="FormModel.registrosProcesados" readonly />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <div class="form-group">
                        <label>Errores</label>
                        <input type="text" class="form-control" is="registrosConError" asp-for="FormModel.registrosConError" readonly />
                    </div>
                </div>
            </div>

            <!-- Resultado Registros procesados 

            <div class="row border p-3 mb-4" style="border-color: #ccc; border-radius: 5px;">
                <div class="col-md-4 col-sm-12 mb-3">
                    <div class="form-group">
                        <label for="detalle">Procesados:</label>
                        <input type="text" class="form-control" id="detalle" asp-for=" FormModel.detalle" readonly />
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 mb-3">
                    <div class="form-group">
                        <label for="nit">NIT:</label>
                        <input type="text" class="form-control" id="nit" asp-for="FormModel.nit" readonly />
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 mb-3">
                    <div class="form-group">
                        <label for="generaError">Errores:</label>
                        <input type="text" class="form-control" id="generaError" asp-for=" FormModel.generaError" readonly />
                    </div>
                </div>
            </div>

            -->


            <div class="row mt-4">
                <!-- Botón Generar -->
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary w-100" id="btnGenerar">Generar</button>
                    </div>
                </div>
                <!-- Botón Cancelar -->
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger w-100" id="btnCancelar" asp-page="/Index">Cancelar</button>
                    </div>
                </div>
            </div>                    
        </form>
      
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(function () {

            // Muestra modal de confirmación al hacer clic en "Generar"
            $('#btnGenerar').on('click', function (e) {
                e.preventDefault();  // Prevenir el envío del formulario tradicional

                // Mostrar modal de confirmación
                $('#confirmarGeneracionArchivoBody').html('<p>AVISO: El archivo definitivo solo puede generarse una vez por mes. ¿Desea continuar?</p>');
                var confirmarGeneracionArchivo = new bootstrap.Modal(document.getElementById('confirmarGeneracionArchivo'));
                confirmarGeneracionArchivo.show();
            });

            // Ejecutar el POST solo después de que el usuario confirme en el modal
            $('#btnConfirmar').on('click', function () {
                // Ocultar el modal de confirmación antes de proceder
                var confirmarGeneracionArchivo = bootstrap.Modal.getInstance(document.getElementById('confirmarGeneracionArchivo'));
                confirmarGeneracionArchivo.hide();

                // Mostrar la pantalla de espera con display: flex
                $('#loadingScreen').css('display', 'flex');

                // Enviar la solicitud POST vía AJAX
                $.ajax({
                    url: '@Url.Page("/ArchivoME13/ArchivoME13", new { handler = "GenerarArchivoME13" })',  // URL correcta del handler
                    type: 'POST',
                    data: $('#generarForm').serialize(),  // Serializa los datos del formulario
                    success: function (response) {
                        // Ocultar la pantalla de espera al completar la solicitud
                        $('#loadingScreen').css('display', 'none');

                        if (response.success) {
                            // Actualizar los campos de registros procesados y con error
                            $('#registrosProcesados').val(response.registrosProcesados);
                            $('#registrosConError').val(response.registrosConError);

                            // Crear el enlace para descargar el archivo generado
                            var link = document.createElement('a');
                            link.href = 'data:text/plain;base64,' + response.fileContent;
                            link.download = response.fileName;
                            document.body.appendChild(link);
                            link.click();
                            document.body.removeChild(link);

                            // Mostrar modal de éxito
                            $('#modalMensajeLabel').text('Proceso realizado exitosamente.');
                            $('#modalMensajeBody').html('<p>El archivo ha sido generado y descargado exitosamente.</p>');
                            var myModal = new bootstrap.Modal(document.getElementById('modalMensaje'));
                            myModal.show();
                        } else {
                            // Mostrar mensaje de error en un modal
                            $('#modalMensajeLabel').text('Error en la generación del archivo.');
                            $('#modalMensajeBody').html('<p>' + response.errorMessage + '</p>');
                            var myModal = new bootstrap.Modal(document.getElementById('modalMensaje'));
                            myModal.show();
                        }
                    },
                    error: function () {
                        // Ocultar la pantalla de espera en caso de error
                        $('#loadingScreen').css('display', 'none');

                        // Mostrar modal de error
                        $('#modalMensajeLabel').text('Error en la generación del archivo.');
                        $('#modalMensajeBody').html('<p>Hubo un error en el proceso de generación del archivo.</p>');
                        var myModal = new bootstrap.Modal(document.getElementById('modalMensaje'));
                        myModal.show();
                    }
                });
            });
        });

    </script>

    <script>
        function actualizarNombreArchivo() {
            var mes = document.getElementById("mesSelect").value;
            var año = document.getElementById("añoSelect").value;
            var codigoArchivo = $('#codigoArchivo').val();  // Aquí puedes definir tu código de archivo
            // Validar que mes y año no estén vacíos
            if (mes && año) {
                var nombreArchivo =  codigoArchivo + año + mes.padStart(2, '0') + "BA.117";
                document.getElementById("nombreArchivo").value = nombreArchivo;
            }
        }               
    </script>
}
