@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Ante cualquier duda o cualquier error técnico favor comunicarse al area de sistemas 1701.</a>.</p>
</div>
